header {
  height: 100%;
}

.gameName {
  height: 100%;
  border: 2px solid red;
}

h1, .instructions {
  font-family: 'Fresca', sans-serif;
  font-size: 500%;
  text-align: center;
}

.instructions {
  font-size:200%
}

.container {
  height: 200px;
  width: 99%;
}

.track {
  position: relative;
  height: 54px;
  width: 101%;
  border: 2px solid black;
}


.racerOne {
  background-color: red;
  height: 50px;
  width: 50px;
  align-items: center;
  position: absolute;
  left:0px;
}


.racerTwo {
  background-color: blue;
  height: 50px;
  width: 50px;
  align-items: center;
  position: absolute;
  left:0px;
}


.racerThree {
  background-color: green;
  height: 50px;
  width: 50px;
  align-items: center;
  position: absolute;
  left:0px;
}
