header {
  height: 100%;
}

.gameName {
  height: 100%;
  border: 2px solid red;
}

h1, .instructions {
  font-family: 'Fresca', sans-serif;
  font-size: 500%;
  text-align: center;
}

.instructions {
  font-size: 200%
}

.container {
  height: 200px;
  width: 95%;
}

.chaser {
  height: 160px;
  width: 2px;
  border: 2px solid red;
  float: left;
  position:relative;
  left: 20px;
  z-index: 1
}

.track {
  position: relative;
  height: 54px;
  width: 101%;
  border: 2px solid black;
  background-color: rgb(210, 166, 121);
}

.racerOne {
  background-color: red;
  height: 50px;
  width: 32px;
  align-items: center;
  position: absolute;
  left: 0px;
}

.racerTwo {
  background-color: blue;
  height: 50px;
  width: 32px;
  align-items: center;
  position: absolute;
  left: 0px;
}

.racerThree {
  background-color: green;
  height: 50px;
  width: 32px;
  align-items: center;
  position: absolute;
  left: 0px;
}

.results {
  font-size: 20px;
  font-family: 'Fresca', sans-serif;
  text-align: center;
}

#winner {
  font-weight: bold;
  font-size: 40px;
}
